html {
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 400;
    background: #EEE;
}

.splash {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    height: 100vh;
}
/*for gradient*/

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.logo {
    padding: 8px;
    position: absolute;
    color: #fff;
    font-size: 40px;
    top: 30px;
    left: 45px;
    text-decoration: none;
}

.logo:before{
    content: "";
    position: absolute;
    width: 25%;
    bottom: 0;
    left: 4%;
    border-bottom: 2px solid #fff;
    transition: 0.5s ease-in;
}

.logo:hover:before{
    content: "";
    position: absolute;
    width: 94%;
    bottom: 0;
    left: 4%;
    border-bottom: 2px solid #fff;
    transition: 0.5s ease-in;
}


.wrapper {
    height: 500px;
}


.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.name {
    font-size: 92px;
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.desc {
    color: white;
    font-size: 32px;
    text-align: center;
}

.navbar {
    padding: 8px;
    position: absolute;
    color: #fff;
    font-size: 40px;
    top: 30px;
    right: 45px;
    text-decoration: none;
}

.navbar:hover {
    color: #e2e2e2;
    display: block;
    transition: 0.5s;
}

.navbar-b {
    padding: 8px;
    position: absolute;
    color: #000;
    font-size: 40px;
    top: 30px;
    right: 45px;
    text-decoration: none;
}

.navbar-b:hover {
    color: #e2e2e2;
    display: block;
    transition: 0.5s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px; */
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: calc(2vw + 10px);
    color: #818181;
    display: block;
    transition: 0.3s;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


#intro {
    width: 80%;
    margin: 0 auto;
}

/* FOOTER */

/*-------------------------------------
----------------FOOTER-----------------
-------------------------------------*/

footer {
    grid-area: footer;
    background-color: #2A2928;
    color: #edf1f2;
    height: 100%;
    width: 100vw;
}

.copyright {
    text-align: center;
    padding-top: 20px;

}

.madeby {
    text-align: center;
    margin-top: -15px;
}

.madeby a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #bd8666;
}

.madeby a:hover {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #a54209;
}

/* flexbox-grid */
.box-row {
    position: relative;
    box-sizing: border-box;
    min-height: 1rem;
    margin-bottom: 0;
    background: #007FFF;
    border: 1px solid #FFF;
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    color: #fff;
    margin-bottom: 1rem;
    padding: 1rem;
}

pre {
    overflow-x: auto;
    padding: 1.25em;
    border: 1px solid #e6e6e6;
    border-left-width: 5px;
    margin: 1.6em 0;
    font-size: .875em;
    background: #fcfcfc;
    white-space: pre;
    word-wrap: normal;
}