{{ partial "header.html" . }}
<div class="splash">
    {{ partial "nav.html" . }}
    <div class="logo">{{ .Site.Title }}</div>
    <div class="name-container">
        <div class="name animated bounceInDown">Animated Splash</div>
        <div class="desc animated fadeInLeft">Can be any color</div>
    </div>
</div>
<section id="intro">
    <div class="row promo">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="center">
                <div style="font-size:8em; color:#EE7752">
                    <i class="fas fa-exclamation"></i>
                </div>
                <p class="promo-caption">Unique</p>
                <p class="promo-desc">A Unique framework that will lift any projekt you might have trouble with</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="center">
                <div style="font-size:8em; color:#E73C7E">
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <p class="promo-caption">Mobile Friendly</p>
                <p class="promo-desc">We did most of the heavy lifting for you to provide a framework  that is completly mobile friendly</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="center">
                <div style="font-size:8em; color:#23A6D5">
                    <i class="fas fa-paint-brush"></i>
                </div>
                <p class="promo-caption">Colorful & Animated</p>
                <p class="promo-desc">refined animations and transitions to provide a smoother experience for developers.</p>
            </div>
        </div>
    </div>
    <h2>Grid</h2>
    <p>Responsive modifiers enable specifying different column sizes, offsets, alignment and distribution at xs, sm, md &amp; lg viewport widths.</p>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
            <div class="box-row"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-10">
            <div class="box-row"></div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
            <div class="box-row"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
            <div class="box-row"></div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-10 col-lg-11">
            <div class="box-row"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-8 col-lg-10">
            <div class="box-row"></div>
        </div>
        <div class="col-xs-2 col-sm-6 col-md-4 col-lg-2">
            <div class="box-row"></div>
        </div>
    </div>
    <pre><code>&lt;div class="row"&gt;
    &lt;div class="col-xs-12
                col-sm-8
                col-md-6
                col-lg-4"&gt;
        &lt;div class="box"&gt;Responsive&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
</section>
{{ partial "footer.html" . }}
