{{ partial "header.html" . }}
<div class="header">
    {{ partial "nav.html" . }}
    <a href="{{ .Site.BaseURL }}" class="logo">{{ .Site.Title }}</a>
    <div class="name-container">
         <span id="animationSandbox" style="display: block;"><h1 class="site__title mega centered">        <div class="name animated bounceIn">{{ .Title }}</div></h1></span>
        <div class="desc animated fadeInUp">{{ .Description}}</div>
    </div>
    <a href="{{ .Site.BaseURL }}/{{ .Section }}" class="prevlink">&larr; Go Back!</a>
</div>
<div class="wrapper-docs">
{{.Content}}
</div>
{{ partial "footer.html" . }}