<section class="row">
    <div class="container">
        <div id="formfeedback" class="hidden">Vi vender tilbage snarest!</div>
        <form action="" method="post" id="kontaktmig">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Your Name">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="Your e-mail">
            <label for="subject">Subject</label>
            <select id="subject" name="subject">
                <option value="support">Support</option>
                <option value="bug">Bug</option>
                <option value="sales">Sales</option>
              </select>
            <label for="message">Message</label>
            <textarea id="message" name="message" placeholder="Your Message.."></textarea>
            <input type="submit" name="submit" value="Send Message">
            <div id="formfailure" class="hidden"></div>
        </form>
    </div>
</section>